/* large */


h2 {
    text-align: center;
}

section h2 {
    text-align: left;
}

.business-card {
    max-width: 400px;
}

.sections-container {
    display: flex;
    justify-content: space-between;
}

.sections-container section {
    width: 45%;
    margin-right: 5%;
    padding: 40px;
}
