/* all devices */

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    text-transform: uppercase;
}

.line {
    text-decoration: underline;
}

.accent {
    font-weight: bold;
    color: green;
    background-color: white;
}