body {
    font-family: verdana, sans-serif;
}

header,
footer {
    background-color: #bb981b;
    color: #be1414;
}

nav {
    background-color: #eee;
    color: #000;
}

a {
    color: red;
    background-color: inherit;
}