body {
    background-color: #666;
    color: #fff;
}

header,
footer {
    background-color: #666;
    color: #fff;
}

nav {
    background-color: #fff;
    color: #fff;
}

div {
    max-width: 800px;
    margin: auto;
    border: 5px solid yellow;
    padding: 25px;
    background-color: #fff;
    color: #000;
}
